/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

:root {
    --yellow-1: #fbd000;
    --reddish: #db4000;
}

body {
    background-color: var(--yellow-1);
    background-image: url("images/bgpattern.webp");
    background-blend-mode: multiply;
}

main {
    background-color: var(--reddish);
    max-width: 1000px;
    margin-inline: auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-inline: auto;
}

h1 {
    font-family: "Honk", sans-serif;
    font-size: 4em;
    text-align: center;
}
h2 {
    font-family: "Bungee Spice", sans-serif;
    font-size: 2rem;
    text-align: center;
}

article p, 
aside p {
  font-weight: 200;
  font-size: 1.25rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;

    background: grey;
    border-radius: 8px;
    color: white;
}

a:hover {
    transform: scale(1.25);
    transition:
        transform 0.5s;
}

a:active {
    background: gray;
    border-radius: 4px;
    color: lightgray;
    
    min-width: 5rem;
    margin: .5em;
    padding: .25rem;
    
    text-align: center;
}